#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* .parks-page {
} */

.park-card {
  border-radius: 10px;
  border: 2px solid black;
  margin: 1em;
  padding: 2em;
  display: inline-block;
  text-align: unset;
  cursor: pointer;
  min-width: 270px;
  min-height: 450px;
  max-width: 350px;
  align-content: center;
  background-color: white;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

img.park-img {
  max-width: 200px;
  border-radius: 10px;
}

nav {
  /* background-color: rgb(197, 234, 181); */
  justify-content: flex-start;
  padding: 20px;
}

div.prof-activity {
  display: grid;
  grid-row: 3;
}

p.activity {
  margin-bottom: 0;
}

div.add-post {
  border: black 2px solid;
  border-radius: 5px black;
}

textarea.post-text {
  max-width:300px
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
